## Generic Files
*~
*.lock
*.DS_Store
*.swp
*.out
*.log

## Java
*.class

## Intellij
.idea/
*.iml
*.iws

## Netbeans
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
build/
dist/
