## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
/OCU/UserTools/nbproject/private/
/OCU/UserTools/build/
/OCU/ClientEditor/nbproject/private/
/OCU/ClientEditor/build/
/OCU/User_Tools/nbproject/private/
/OCU/User_Tools/build/
/OCU/JavaApplication3/nbproject/private/
/OCU/JavaApplication3/build/